#initialize > h2 {
  margin-bottom: 3vw;
}

#initcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#initcontainer > input {
  font-family: Arial;
  font-size: 10vw;
  width: 90%;
  box-sizing: border-box;
  border-width: 2px;
  margin-bottom: 3vw;
}

#startbutton {
  font-family: Arial;
  font-size: 20vw;
  border-radius: 2vw;
}

#flow > div:nth-child(even) {
  background-color: white;
}
#flow > div:nth-child(odd) {
  background-color: #d4d4d4;
}

#flow > div,#initialize {
  padding-top: 1vw;
  padding-bottom: 2vw;
}

h2 {
  margin-bottom: 1vw;
  text-align: center;
  font-family: Arial;
  font-size: 8vw;
}

.chosen {
  background-color: black;
  color: white;
}

#fromtotitle {
  display: flex;
  flex-directio: row;
  justify-content: space-between;
}

#fromtotitle > div {
  width: 18vw;
  margin-left: 4vw;
  margin-right: 4vw;
}

#stoplist {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#stoplist > ul > li {
  height: 11vw;
}

#fromcheck > li > input,
#tocheck > li > input {
  margin: 0;
  opacity: 0;
  position: absolute;
  height: 9.5vw;
  width: 16vw;
}

input[type="radio"] + label {
  display: inline-block;
  box-sizing: border-box;
  width: 16vw;
  height: 9.5vw;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 4vw;
}

input[type="radio"]:checked + label {
  background-color: black;
}

#stationtitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#stationtitles > li {
  font-family: Arial;
  font-size: 8vw;
  text-align: center;
}

#stationtitles > li > span {
  vertical-align: middle;
}

#enkeltor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#enkeltor > button {
  font-family: Arial;
  border-radius: 10px;
  font-size: 10vw;
}

#destlist {
  display: flex;
  flex-direction: column;
}

#destlist > button {
  font-family: Arial;
  font-size: 6vw;
  border: none;
  height: 10vw;
}

#topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 1vw;
}

#topbar > button {
  font-family: Arial;
  border-radius: 10px;
  font-size: 6vw;
}

button {
  border: solid;
  background-color: white;
  border-width: 2px;
}

#destination {
  flex-direction: row;
}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 12vw;
}

.countval {
  vertical-align: middle;
}

.valmod {
  width: 14vw;
  text-align: center;
  border-radius: 2vw;
  font-size: 12vw;
}

button:active {
  background-color: black;
  color: white;
}

.smallcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 4vw;
}

.singlebutton {
  font-size: 8vw;
  height: 16vw;
  border-radius: 4vw;
}

#summary {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#summarylist {
  font-family: Arial;
  font-size: 6vw;
}

#qrfield {
  height: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#localqr {
  margin-top: 2.5vw;
}

#swishqr {
  width: 85%;
}
